{{ define "main" }}

{{ $allPages := .Site.Pages }}
{{ range .Site.Home.Translations }}
{{ $allPages = $allPages | lang.Merge .Site.Pages }}
{{ end }}

{{ $regularPages := .Site.RegularPages }}
{{ range .Site.Home.Translations }}
{{ $regularPages = $regularPages | lang.Merge .Site.RegularPages }}
{{ end }}

<main>
  <section class="p-strip--{{.Params.backgroundType}} main-strip">
      <div class="row">
        <div class="col-8 left-section">
          <h1>{{.Title}}</h1>
          <p>{{.Params.description}}</p>
        </div>
        <div class="col-4 right-section">
          <img src="{{ .RelPermalink }}{{.Params.image}}" alt="">
        </div>
      </div>
  </section>
  <section class="p-strip">
    <div class="row">
      {{ $sponsors := (where .Site.RegularPages "Section" "sponsors") }}
      {{ range sort $sponsors "Weight" "asc" }}
      <div class="col-4">
        <div class="p-card--highlighted" style="text-align: center; height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
          <div class="p-card__content">
            <div style="height: 120px; display: flex; align-items: center; justify-content: center; margin-bottom: 15px;">
              <img alt="{{.Title}}" style="max-height: 100px; max-width: 100%;" src="{{ .RelPermalink }}{{.Params.image }}">
            </div>
            <h4 class="p-heading--4">{{.Title}}</h4>
            <p class="p-card__content">{{ .Params.description | truncate 100 }}</p>
          </div>
          <div class="p-card__content" style="padding-top: 0;">
            <hr class="p-rule">
            <a href="{{ .Params.website | default .RelPermalink }}" class="p-button--neutral" target="_blank">Visitar Sitio</a>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </section>
  <section class="p-strip--light">
  <div class="row">
   {{.Content}}
   <a href="mailto:{{.Site.Params.contact}}"><button class="p-button--neutral">Contactar con el equipo</button></a>
  </section>
</main>
{{ end }}

