<section class="p-strip--accent">
  <div class="row">
    <div class="col-12">
      <h2>{{.Site.Title}}</h2>
      <ul class="p-inline-list--middot is-dark">
        <li class="p-inline-list__item">
          <a href="mailto:{{.Site.Params.contact}}">{{ i18n "footer_contact" }}</a>
        </li>
        <li class="p-inline-list__item">
          <a href="mailto:{{.Site.Params.privacyPolicy}}">{{ i18n "privacy_policy" }}</a>
        </li>
        <li class="p-inline-list__item">
          <a href="https://fb.com/{{.Site.Params.facebook}}">Facebook</a>
        </li>
        <li class="p-inline-list__item">
          <a href="https://twitter.com/{{.Site.Params.twitter}}">Twitter</a>
        </li>
        <li class="p-inline-list__item">
          <a href="{{.Site.Params.youtube}}">YouTube</a>
        </li>
        <li class="p-inline-list__item">
          <a href="https://github.com/{{.Site.Params.github}}">GitHub</a>
        </li>
        <li class="p-inline-list__item">
          <a href="https://launchpad.net/~{{.Site.Params.launchpad}}">Launchpad</a>
        </li>
        <li class="p-inline-list__item">
          <a rel="me" href="{{.Site.Params.mastodon}}">Mastodon</a>
        </li>
        <li class="p-inline-list__item">
          <a rel="me" href="{{.Site.Params.linkedin}}">LinkedIn</a>
        </li>
      </ul>
      <p>{{.Site.Params.copyright}}</p>
      <a href="{{.Site.Params.source_repo}}">{{ i18n "footer_src_repo" }}</a>
    </div>
  </div>
  
  <!-- Ubuntu-Ve Radio Player -->
  <div class="row" style="margin-top: 30px; border-top: 1px solid rgba(255,255,255,0.1); padding-top: 20px;">
    <div class="col-12">
      <div class="p-card" style="background: rgba(0,0,0,0.2); border: 1px solid rgba(255,255,255,0.1); padding: 15px;">
        <div class="row">
          <div class="col-3">
            <h4 style="margin: 0; color: #fff;"><i class="p-icon--audio"></i> Ubuntu-Ve Radio</h4>
            <small style="color: #ccc;">En vivo desde Last.fm</small>
          </div>
          <div class="col-9">
            <audio controls style="width: 100%; height: 32px;">
              <source src="https://stream.last.fm/your-stream-url" type="audio/mpeg">
              Tu navegador no soporta el reproductor de audio.
            </audio>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
